#optionsItems {
    margin-top: 20px;
}

#selectLang{
    border:none;
    outline:none;
    margin-right:50px;
}

@media(max-width:900px) and (orientation: portrait) {
    #Gesamtpreis 
    {
        gap: 105px !important;
    }
    #schlussel2 {
        margin-left:-10px;
        transform: scale(0.7);
        display: flex;
    }
    #typeSylinder {
        margin-top:5px;
        height: 15px;
        margin-left: -45px;
        width: 15px;
        transform: scale(0.5);
    }
  
    #product_desciptions {
        margin-top: 10px;
        display: block;
        gap: 150px;
    }
    .SizeProduct {
        display: flex;
        margin-bottom: 20px;
    }
    #numerKey{
        font-size:8px;
    }
    OpenValue > input{
        width: 10px !important;
    }
    #FinisherAnderes {
        text-align:center;
        margin-bottom: 20px;
        margin-top: 20px;
    }
        #FinisherAnderes>a{
            font-size:16px;
        }
        #FinisherAnderes > input {
            font-size: 16px;
        }
    .navbar-collapse {
        font-size: 16px;
    }
    .navbar-toggler {
        font-size: 2rem !important;
    }
    #keyInform {
        margin-top: 10px;
        text-align: start;
        font-size: 12px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

        #infoTuren {
            margin-top: 10px;
            text-align: start;
            font-size: 12px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }


    #OpenValue {
        display: grid;
        gap: 10px;
        grid-template-columns: 100px 100px 100px;
        margin-right: 50px;
    }
    #cost {
        color: red;
    }
 
    #ItemCounterOrders {
        display: flex;
        gap: 20px;
    }
    #counterKey {
        display: flex;
        gap: 20px;
    }
    #finisherItem {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 10px;
        margin-top: 20px;
        padding: 10px;
        background-color: white;
        display: grid;
        align-items: center;
        text-align: center;
        grid-template-columns: repeat(3, 100px);
    }
    #orderCost {
        justify-content: center;
        display: flex;
        text-align: center;
        align-items:center;
    }
        #orderCost>input{
            font-size:16px;
            outline:none;

        }
        #orderCost>h2{
            font-size:24px;
        }
        .btn-success {
            color: #fff;
            background-color: #198754;
            border-color: #198754;
        }
    a:hover {
        text-decoration-color: none;
        color: white;
    }
    a{
        text-decoration-color: none;
        color: white;
    }
   
    #lifer{
        color:red;
        margin-top:20px;
        margin-bottom:20px;
        font-size:12px;
    }
    #ProductNameUndCost {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        /* gap:10px;*/
    }
    .ExelItem {
        padding-bottom: 10px;
        padding-top: 10px;
        margin-bottom: 50px;
        margin-top: 50px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        width:auto;
        max-width:800px;
        text-align: center;
    }
    #konfigMenu {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .modalLessen {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }
    #counterTur 
    {       
        margin-top: 10px;
        float: left;
        text-align: center;
    }
    .modalI {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-contentLessen {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 20%;
        margin-top: 280px;
        margin-left: 300px;
        text-align: center;
        border-radius: 20px;
    }

    .arrow-down {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 20px solid white;
        margin-top: -300px;
        margin-left: 400px;
    }

    .modal-contentI {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        font-family: Arial, sans-serif;
        color: red;
    }

    .clostHilfeModel {
        color: #aaa;
        float: right;
        font-size: 28px;
        cursor: pointer;
        font-weight: bold;
        margin-top: -20px;
    }

    #hilfeNext {
        border: none;
        outline: none;
        background: red;
        border-radius: 20px;
        font-size: 24px;
        color: white;
    }

    #circle {
        margin-top: 10px;
        border-radius: 100%;
        width: 15px;
        height: 10px;
        background: red;
    }

    #circle2 {
        margin-left: 2px;
        margin-top: 2px;
        border-radius: 100%;
        width: 5px;
        height: 5px;
        background: white;
    }
    #FinisherRight {
        padding-bottom: 20px;
    }
        #FinisherRight>a{
            font-size:16px;
        }
        #hilfeBack {
            border: none;
            outline: none;
            background: red;
            font-size: 24px;
            color: white;
            border-radius: 20px;
        }

    #input {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #schlussel3 {
        margin-top: 5px;

    }

    #chekerTur > button {
        border-radius: 20%;
        font-size: 8px;
        color: white;
        border: none;
        background: red;
    }

    #TypeSelectTurType {
        height: 25px;
        transform: scale(0.5);
        width: auto;
        margin-left: -35px;
    }

    #chekerTur {
        display: flex;
        transform: scale(0.5);
        margin-left: -45px;
        gap:10px;
    }

    html {
        font-size: calc(6px + (8 - 6) * ((100vw - 380px) / ( 1440 - 380)));
    }

    #InformBar {
        margin-top: 30px;
        font-size: 8px;
        gap: 50px;
    }

    #sclusselInfo {
        margin-left: 240px;
        padding: 5px;
        width:auto;
        background: red;
        color: white;
        align-items: center;
        display: flex;
    }

    #itemKeyBlock {
        margin-bottom: 20px;
        margin-left: 240px;
        display: flex;
        width: auto;
        overflow-x: scroll;
    }
    #buttonActionFinishBlock {
        text-align: center;
        display: block;
    }
    .checkboxContainer > input[type="checkbox"] {
        width: 20px;
        height: 20px;
    }

    .TexCount {
        max-width: 42px;
        text-align: center;
        display: grid;
        grid-template-columns: 30px;
        background-color: #EDEDED;
        padding: 5px;
    }

    #TexInputKey {
        margin-top: -100px;
        margin-left: -100px;
        height: 255px;
    }

    #inputCount {
        text-align: center;
        max-width: 30px;
    }

    #sclusselInfo2 {
        width: 240px;
        padding: 5px;
        background: red;
        color: white;
        align-items: center;
        display: flex;
        margin-top: -45px;
    }
    #textInform {
        display: flex;
        gap: 130px;
        margin-top:10px;
        margin-left:0px;
    }
    #infoButten {
        width: 20px;
        padding: 5px;
        margin-top: 5px;
    }

   

    .horizontal {
        display: flex;
        gap: 20px;
        margin-left: 10px;
    }
    #hilfeImg{
        display:none;
    }

    #TypeSelectTurItem 
    {
        height:20px;
        margin-left: -45px;
        transform: scale(0.6);
    }
    #SelectTurItem {
        width: auto;
       margin-right:20px;
    }
    #InfoValue {
   
        display: grid;
        border-left: 2px solid grey;
        border-right: 2px solid grey;
        padding-right: 10px;
        overflow-x: scroll;
    }

    .checkboxContainer {
        display: grid;
        gap: 200px;
        transform: scale(0.7);
        margin-top: 10px;
        padding-bottom: 5px;
    }

    #ItemTur {
        gap: 5px;
        display: flex;
    }

    .TexCountTur {
        text-align: center;
        align-items: center;
        display: flex;
        grid-template-columns: 30px;
        background-color: #EDEDED;
        padding: 5px;
        width: auto;
    }
    #inputTur {
        padding: 5px;
        margin-left:-30px;
        transform: scale(0.5);
    }

    #BlockTur-1 {
        width: 235px;
        text-align: start;
    }

    #schlussel {
        margin-top: 5px;
        font-size: 8px;
        margin-left: 2px !important;
        padding-right: 8px ;
    }

    #add_And_Minus {
        background: red;
    }

    #removeButtonTur {
        height: 20px;
        width: 20px;
        font-size: 8px;
        border-radius: 55px;
        background: white;
        transform: scale(0.7);
        font-weight: bold;
        color: red;
        border: none;
    }

    #addButtonTur {
        height: 20px;
        width: 20px;
        transform: scale(0.7);
        font-size: 8px;
        border-radius: 55px;
        background: white;
        font-weight: bold;
        color: red;
        border: none;
    }

    #turInfo {
        display: flex;
        border: 2px solid gray;
    }

    #inputS {
        margin-left: 40px;
        width: 150px;
        margin-top: 165px;
        padding: 4px;
        transform: rotate(270deg);
    }

    #removeButton {
        height: 20px;
        width: 20px;
        font-size: 6px;
        border-radius: 55px;
        background: white;
        font-weight: bold;
        color: red;
        border: none;
        margin-left: 10px;
    }

    #addButton {
        height: 20px;
        width: 20px;
        font-size: 8px;
        border-radius: 55px;
        background: white;
        font-weight: bold;
        color: red;
        border: none;
        margin-left: 10px;
    }
    #chekProduct {
        margin-top: 10px;
        margin-bottom:10px;
        text-align: center;
        font-size: 16px;
        color: white;
    }
    
}

@media(max-width:900px) and (orientation: landscape) 
{
    #schlussel2 {
        display: flex;
    }
    #buttonActionFinishBlock {
        gap: 20px;
        justify-content: center;
        margin-top:20px;
        display: flex;
    }

    #orderCost {
        justify-content: center;
        display: flex;
        text-align: center;
    }

        #orderCost>input{
            outline:none;
            width:auto;
            
        }

        #Aussen_Innen_ProfilDopel {
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
        }
    #Table {
        display: grid;
        grid-template-columns: repeat(9, auto);
    }
    #routBAR {
        display: grid;
        grid-template-columns: repeat(6, auto);
        text-align: center;
        justify-content: center;
    }
    #productMenu {
        gap: 150px;
        display: flex;
    }
    .SizeProduct {
        display: flex;
        margin-bottom: 20px;
    }
    #cost 
    {
        color: red;
    }
    #textInform {
        display: flex;
        gap: 130px;
        margin-top: 10px;
        margin-left: auto;
        margin-right:auto;
    }
    #product_desciptions {
        margin-top: 20px;
        display: block;
        gap: 150px;
    }
    #ItemCounterOrders 
    {
        display: flex;
        gap: 20px;
    }

    #counterKey 
    {
        display: flex;
        gap: 20px;
    }
    #TurName{
        width:auto;
    }
    #finisherItem {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 10px;
        margin-top: 20px;
        padding: 10px;
        background-color: white;
        display: grid;
        align-items: center;
        text-align: center;
        grid-template-columns: 150px 150px 0px;
    }
    #FinisherAnderes{
       text-align:center;
        margin-bottom:20px;
        margin-top:50px;
    }
    #OpenValue {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(4,100px);
        margin-right: 50px;
    }
    .btn-success {
        color: #fff;
        background-color: #198754;
        border-color: #198754;
    }


    #chekProduct {
        text-align: center;
        align-items: center;
    }
        #chekProduct > a {
            color: white !important;
            text-decoration: none;
        }

        #Gesamtpreis {
            gap: 65px !important;
        }
    #cost{
        color:red;
    }
    #lifer {
        color: red;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 12px;
    }

    #ProductNameUndCost {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        /* gap:10px;*/
    }

    .ExelItem {
        padding-bottom: 10px;
        padding-top: 10px;
        margin-bottom: 50px;
        margin-top: 50px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        width: auto;
        max-width: 800px;
        text-align: center;
    }

    #konfigMenu {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .modalLessen {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modalI {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-contentLessen {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 20%;
        margin-top: 280px;
        margin-left: 300px;
        text-align: center;
        border-radius: 20px;
    }

    .arrow-down {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 20px solid white;
        margin-top: -300px;
        margin-left: 400px;
    }

    .modal-contentI {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        font-family: Arial, sans-serif;
        color: red;
    }

    .clostHilfeModel {
        color: #aaa;
        float: right;
        font-size: 28px;
        cursor: pointer;
        font-weight: bold;
        margin-top: -20px;
    }

    #hilfeNext {
        border: none;
        outline: none;
        background: red;
        border-radius: 20px;
        font-size: 24px;
        color: white;
    }

    #circle {
        margin-top: 10px;
        border-radius: 100%;
        width: 15px;
        height: 10px;
        background: red;
    }

    #circle2 {
        margin-left: 2px;
        margin-top: 2px;
        border-radius: 100%;
        width: 5px;
        height: 5px;
        background: white;
    }

    #hilfeBack {
        border: none;
        outline: none;
        background: red;
        font-size: 24px;
        color: white;
        border-radius: 20px;
    }

    #input {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #schlussel3 {
        margin-top: 5px;
        margin-left: 50px;
    }

    #chekerTur > button {
        border-radius: 20%;
        color: white;
       font-size:8px;
       height:20px;
        width: 20px;
        border: none;
        background: red;
    }

    #TypeSelectTurType 
    {
        height: 20px;
        margin-right: 20px;
        width: 100px;    
    }

    #chekerTur {
        margin-left: 40px;
    }

    html {
        font-size: calc(12px + (16 - 12) * ((100vw - 480px) / ( 1440 - 480) ));
    }

    #InformBar {
        margin-top: 30px;
        font-size: 12px;
        gap: 50px;
    }

    #sclusselInfo {
        margin-left: 500px;
        padding: 5px;
        background: red;
        color: white;
        align-items: center;
        display: flex;
    }

    #itemKeyBlock {
        margin-bottom: 10px;
        margin-left: 500px;
        display: flex;
        width: auto;
        overflow-x: scroll;
    }

    .checkboxContainer > input[type="checkbox"] {
        width: 20px;
        height: 20px;
    }

    .TexCount {
        max-width: 42px;
        text-align: center;
        display: grid;
        grid-template-columns: 30px;
        background-color: #EDEDED;
        padding: 5px;
    }

    #TexInputKey {
        margin-top: -100px;
        margin-left: -100px;
        height: 255px;
    }

    #inputCount {
        text-align: center;
        max-width: 30px;
    }

    #sclusselInfo2 {
        width: 500px;
        padding: 5px;
        background: red;
        color: white;
        align-items: center;
        display: flex;
        margin-top: -45px;
    }

    #infoButten {
        height: 20px;
        width: 20px;
        padding: 5px;
        margin-top: 5px;
    }

    #konfigMenu{
        margin-top:10px;
        margin-bottom:10px;
    }
    #typeSylinder {
        margin-right: 5px;
        margin-left: 5px;
        height: 15px;
        width: 15px;
    }

    .horizontal {
        display: flex;
        gap: 20px;
        margin-left: 10px;
    }

    #TypeSelectTurItem {
        max-width: 40px;
    }

    #InfoValue {
        display: grid;
        border-left: 2px solid grey;
        border-right: 2px solid grey;
        padding-right: 10px;
        overflow-x: scroll;
    }

    .checkboxContainer {
        display: grid;
        gap: 200px;
        margin-top: 10px;
        padding-bottom: 5px;
    }

    #ItemTur {
        gap: 5px;
        display: flex;
    }

    .TexCountTur {
        text-align: center;
        align-items: center;
        display: flex;
        grid-template-columns: 30px;
        background-color: #EDEDED;
        padding: 5px;
        width: 495px;
    }

    #inputTur {
        padding: 5px;
        max-width: 120px;
        height: 20px;
    }

    #BlockTur-1 {
        width: 495px;
        text-align: start;
    }

    #schlussel {
        padding-right: 15px;
        margin-top: 5px;
        font-size: 8px;
        margin-left: 2px !important;
    }

    #add_And_Minus {
        background: red;
    }

    #removeButtonTur {
        height: 20px;
        width: 20px;
        border-radius: 55px;
        background: white;
        font-weight: bold;
        color: red;
        font-size: 8px;
        border: none;
        margin-left: 10px;
    }

    #addButtonTur {
        font-size:8px;
        height: 20px;
        width: 20px;
        border-radius: 55px;
        background: white;
        font-weight: bold;
        color: red;
        border: none;
        margin-left: 10px;
    }

    #turInfo {
        display: flex;
        border: 2px solid gray;
    }

    #inputS {
        margin-left: 40px;
        width: 150px;
        margin-top: 165px;
        padding: 4px;
        transform: rotate(270deg);
    }

    #removeButton {
        height: 30px;
        width: 30px;
        border-radius: 55px;
        background: white;
        font-size: 8px;
        font-weight: bold;
        color: red;
        border: none;
        margin-left: 10px;
    }

    #addButton {
        height: 30px;
        width: 30px;
        border-radius: 55px;
        background: white;
        font-size: 8px;
        font-weight: bold;
        color: red;
        border: none;
        margin-left: 10px;
    }
}

@media (min-width:900px )
{
    body {
        margin-bottom: 60px;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings: "slnt" 0;
    }

    #hederBlockOrder {
        display: flex;
    }

    #deleteImg {
        width: 30px;
        border-radius: 40px;
        background: white;
        margin-left: -30px;
        position: absolute;
        color: red;
        font-size: 24px;
    }

    #gridImg {
        grid-template-columns: 320px 320px 320px 320px;
        display: grid;
        text-align: center
    }

    #orderCostHeader {
        margin-left: 400px;
        gap: 50px;
        display: flex;
    }

    #producktInfo {
        display: flex;
        gap: 50px;
    }

    #countOrderSysteam {
        text-align: center;
        outline: none;
        margin-left: 50px;
        margin-right: 50px;
        width: 55px;
        height: 40px;
    }

    #costedInfo {
        display: flex;
        margin-left: 140px; 
    }


    #add_And_Minus {
        background: red;
    }

    .modal-content {
        padding: 10px;
    }

    #routBAR {
        display: grid;
        grid-template-columns: repeat(6,auto);
        text-align: center;
        justify-content: center;
    }

    #Bar {
        gap: 10px;
        display: flex;
    }

    a {
        text-decoration: none;
        color: aliceblue;
    }


        a:hover {
            text-decoration: none;
            color: aliceblue;
        }


    #crud {
        border: none;
        background: none;
        margin-left: 50px;
    }

    #createColum {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(4,auto);
        gap: 30px;
    }

    #createColumDopppelzylinder {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(2,auto);
        gap: 50px;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
    }

    .modalLessen {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
    }

    .arrow-down {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 20px solid white;
        margin-top: -300px;
        margin-left: 400px;
    }

    #modelProgress {
        display: flex;
        gap: 20px;
        justify-content: center;
    }

    .modal-contentLessen {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 20%;
        margin-top: 280px;
        margin-left: 300px;
        text-align: center;
        border-radius: 20px;
    }

    .modalI {
        display: none; /* Скрыто по умолчанию */
        position: fixed; /* Оставаться на месте */
        z-index: 1; /* Слой на вершине */
        left: 0;
        top: 0;
        width: 100%; /* Полная ширина */
        height: 100%; /* Полная высота */
        overflow: auto; /* Включить прокрутку при необходимости */
        background-color: rgba(0,0,0,0.4); /* Черный с прозрачностью */
    }

    /* Модальное содержимое */
    .modal-contentI {
        background-color: #fefefe;
        margin: 15% auto; /* 15% от верхнего и центра */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Можно регулировать для уменьшения ширины */
        font-family: Arial, sans-serif; /* Измените шрифт по своему вкусу */
        color: red; /* Измените цвет текста по своему вкусу */
    }

    .closeI {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .closeI:hover,
        .closeI:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

    #hilfeNext {
        border: none;
        outline: none;
        background: red;
        border-radius: 20px;
        font-size: 24px;
        color: white;
    }

    #hilfeBack {
        border: none;
        outline: none;
        background: red;
        font-size: 24px;
        color: white;
        border-radius: 20px;
    }


    #circle {
        margin-top: 10px;
        border-radius: 100%;
        width: 15px;
        height: 10px;
        background: red;
    }

    #circle2 {
        margin-left: 2px;
        margin-top: 2px;
        border-radius: 100%;
        width: 5px;
        height: 5px;
        background: white;
    }

    .clostHilfeModel {
        color: #aaa;
        float: right;
        font-size: 28px;
        cursor: pointer;
        font-weight: bold;
        margin-top: -20px;
    }
    /* Modal content */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* Close button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    #filteblock {
        justify-content: center;
        align-items: center;
        gap: 10px;
        display: flex;
        padding: 20px;
        margin: 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    #konfigMenu {
       margin-bottom:10px;
       margin-top:10px;
    }

    #input {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #Table {
        display: grid;
        grid-template-columns: repeat(9,auto);
    }

    #Table2 {
        display: grid;
        grid-template-columns: repeat(8,auto);
    }

    #TableOptions {
        display: grid;
        grid-template-columns: repeat(2,auto);
    }

    #TableVorhangschloss {
        display: grid;
        grid-template-columns: repeat(6,auto);
        max-width: 1200px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }


    #InfoValue {
        display: grid;
        border-left: 2px solid grey;
        border-right: 2px solid grey;
        padding-right: 10px;
        overflow-x: scroll;
    }

    #InfoValue1 {
        gap: 10px;
        display: flex;
        border-left: 2px solid grey;
        border-right: 2px solid grey;
        padding-right: 10px;
        overflow-x: scroll;
    }

    #InformBar {
        margin-top: 50px;
        font-size: 16px;
        gap: 50px;
    }

    #ItemBar {
        background: lightgoldenrodyellow;
        min-width: auto;
        padding: 15px;
        border-radius: 20px;
    }

    #konfigurator {
        display: flex;
        clear: both;
        background: #F4F4F4;
        border: 1px solid #D8D8D8;
        padding: 15px;
        overflow: auto;
        min-width: 1350px;
        min-height: 730px;
    }

    #KeyName {
        transform: rotate(90deg);
        width: 150px;
        margin-left: -58px
    }

    #nK {
        padding-bottom: 40px;
        display: block;
    }

    #menuPannel {
        display: flex;
        gap: 2px;
    }

    #key-konfig {
        margin-top: 50px;
        width: 614px;
        min-width: 55px;
        border: 1px solid #fff;
        background: #4fa8cf;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-weight: bold;
        color: #ffffff;
        margin-left: 737px;
    }

    #konfiguratorItem_menu_1 {
        background: #4fa8cf;
    }

    #konfiguratorItem_menu_2 {
        background: #4fa8cf;
    }

    #konfiguratorItem_menu_3 {
        background: #4fa8cf;
    }

    #konfiguratorItem_menu_4 {
        background: #4fa8cf;
    }

    #konfiguratorItem_menu_5 {
        background: #4fa8cf;
        max-width: 692px;
    }

    .line-name-header {
        display: grid;
        grid-template-columns: 41px 251px 192px 140px 70px;
        margin-bottom: 10px;
        text-align: center;
        height: 250px;
    }

        .line-name-header div {
            display: grid;
            grid-template-columns: 20px 191px 176px 47px 54px 70px;
            margin-bottom: 10px;
            border: 3px solid white;
            text-align: center;
        }

    .turInput {
        max-width: 50px;
    }

    #cheked {
        width: 25px;
        height: 25px;
        margin-left: 5px;
        padding-bottom: 10px;
    }

    .line-name-body {
        display: grid;
        grid-template-columns: 20px 230px 176px 47px 54px 45px;
        margin-bottom: 10px;
        text-align: center;
        gap: 20px;
    }

    .length {
        height: auto;
    }

    #konfiguratorItemKey {
        display: flex;
    }

    #key {
        display: grid;
        grid-template-columns: 20px;
        gap: 20px;
        text-align: center;
    }

    #chekboxPanel {
        margin-top: 55px;
        display: grid;
        gap: 25px
    }

    #productMenu {
        gap: 150px;
        display: flex;
    }

    #cardOptions {
        padding: 10px;
        background: #efefef;
        margin-top: 50px;
        display: block;
    }

    #Aussen_Innen_ProfilDopel {
        margin-left:auto;
        margin-right:auto;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    #AussenProfilDopel {
        grid-template-columns: 140px 140px;
        display: grid;
        margin-right:20px;
    }

    #InnenProfilDopel {
        grid-template-columns: 140px 140px;
        display: grid;
    }

    #valueNGF {
        display: block;
        width: 136px;
    }

    #costNGF {
        display: block;
        width: 400px;
    }

    #valueBohrschutz {
        display: block;
        width: 136px;
    }

    #costBohrschutz {
        display: block;
        width: 400px;
    }

    .input-counter {
        display: none;
    }

    #WaitTime {
        color: red;
    }

    .ExelItem {
        grid-template-columns: 350px 800px;
        display: grid;
        margin-top: 50px;
        max-width: 1250px;
        background: white;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
    }

    #ExelMenu {
        background-color: #EDEDED;
        padding: 5px;
    }

    #productImage {
        padding: 20px;
    }

    #ProductNameUndCost {
        margin-top: 20px;
        display: flex;
    }

    #cost {
        color: red;
        font-size: 24px;
        outline: none;
        border: none;
        width: 200px;
    }

    #product_desciptions {
        margin-top: 20px;
    }

    #closeMenu {
        margin: 20px;
        padding: 20px 150px 20px 150px;
    }
    #textInform {
        margin-top: 20px;
        display: flex;
        gap: 100px;
    }
    #chekProduct {
        padding: 20px 150px 20px 150px;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    #productMenuInfo {
        margin-left: 20px;
        margin-right: 20px;
    }

    #productChek {
        text-align: end;
    }

    #sclusselInfo {
        margin-left: 800px;
        padding: 5px;
        background: red;
        color: white;
        align-items: center;
        display: flex;
    }

    #removeButton {
        height: 30px;
        width: 30px;
        border-radius: 55px;
        background: white;
        font-size: 16px;
        font-weight: bold;
        color: red;
        border: none;
        margin-left: 10px;
    }

    #removeButtonTur {
        height: 30px;
        width: 30px;
        border-radius: 55px;
        background: white;
        font-size: 16px;
        font-weight: bold;
        color: red;
        border: none;
        margin-left: 10px;
    }

    #addButtonTur {
        height: 30px;
        width: 30px;
        border-radius: 55px;
        background: white;
        font-size: 16px;
        font-weight: bold;
        color: red;
        border: none;
        margin-left: 10px;
    }

    #addButton {
        height: 30px;
        width: 30px;
        border-radius: 55px;
        background: white;
        font-size: 16px;
        font-weight: bold;
        color: red;
        border: none;
        margin-left: 10px;
    }

    #schlussel {
        margin-top: 5px;
    }

        #schlussel > h6 {
            font-size: 14px;
            margin-right: 10px;
        }

    #schlussel2 {
        margin-left: 250px;
        margin-top: 5px;
    }

    #TexInputKey {
        margin-top: -100px;
        margin-left: -100px;
        height: 255px;
    }

    #inputS {
        margin-left: 40px;
        width: 150px;
        margin-top: 160px;
        padding: 4px;
        transform: rotate(270deg);
    }

    #inputA {
        margin-top: 30px;
        padding: 4px;
        transform: rotate(270deg);
    }

    #inputCount {
        text-align: center;
        max-width: 30px;
    }

    .TexCount {
        max-width: 42px;
        text-align: center;
        display: grid;
        grid-template-columns: 30px;
        background-color: #EDEDED;
        padding: 5px;
    }

    #itemKeyBlock {
        margin-left: 800px;
        display: flex;
        width: 480px;
        max-width: 500px;
        overflow-x: scroll;
    }

    #blockSclussel {
    }

    #typeSylinder {
        margin-top: 5px;
        margin-left: 30px;
        margin-right: 10px;
    }

    #sclusselInfo2 {
        width: 800px;
        padding: 5px;
        background: red;
        color: white;
        align-items: center;
        display: flex;
        margin-top: -45px;
    }

    #schlussel3 {
        margin-top: 5px;
        margin-left: 70px;
    }

    #ItemTur {
        gap: 5px;
        display: flex;
    }

    .TexCountTur {
        max-width: 850px;
        text-align: center;
        display: flex;
        grid-template-columns: 30px;
        background-color: #EDEDED;
        padding: 5px;
    }

    .TexCountTurFinisher {
        max-width: 290px;
        text-align: center;
        gap: 10px;
        display: grid;
        background-color: #EDEDED;
        padding: 5px;
    }

        .TexCountTurFinisher > h5 {
            margin-left: 25px;
        }

        .TexCountTurFinisher > h6 {
            margin-left: 25px;
        }

    #DorUndCount {
        display: flex;
        gap: 15px;
    }

    #inputTur {
        padding: 5px;
        max-width: 200px;
    }

    #counterTur {
        margin-right: 20px;
        margin-top: 10px;
        float: left;
        width: 26px;
        text-align: center;
    }

    #chekerTur {
        margin-left: 30px;
        display: flex;
        gap: 5px;
    }

        #chekerTur > button {
            font-size: 24px;
            border-radius: 20%;
            color: white;
            width: 40px;
            border: none;
            background: red;
        }

    #infoButten {
        height: 30px;
        width: 30px;
        padding: 5px;
        margin-top: 5px;
    }

    #positio {
        min-width: 35px;
        max-width: 35px;
    }

    #TypeSelectTurItem {
        margin-top: 5px;
        height: 30px;
        width: 50px;
        margin-left: 5px;
    }

    #TypeSelectTurType {
        margin-top: 5px;
        height: 30px;
        width: 150px;
        margin-right: 20px;
    }

    .custom-checkbox {
        display: block;
    }

        .custom-checkbox input {
            display: none;
        }

    .checkmark {
        display: inline-block;
        width: 40px;
        height: 40px;
        border: 2px solid #ccc;
        cursor: pointer;
    }

    .custom-checkbox input:checked + .checkmark {
        background-color: #2196F3;
    }

    .checkbox-label {
        margin-left: 10px;
        cursor: pointer;
    }

    #blockInfo {
        width: 300px;
        text-align: start;
    }

    #BlockTur-1 {
        width: 800px;
        text-align: start;
    }

    #TexCountTurFinisher > h5 {
        margin-left: 50px;
    }

    #TexCountTurFinisher > h6 {
        margin-left: 50px;
    }

    #turInfo {
        display: flex;
        border: 2px solid gray;
    }

    .checkboxContainer {
        display: grid;
        gap: 200px;
        margin-top: 15px;
        padding-bottom: 13px;
    }

    .horizontal {
        display: flex;
        gap: 20px;
        margin-left: 10px;
    }

    .horizontal1 {
        display: block;
        gap: 20px;
        margin-left: 10px;
    }

    .checkboxContainer > input[type="checkbox"] {
        width: 20px;
        height: 20px;
    }


    summary {
        margin-left: -10px;
        margin-top: -25px;
        padding: 0px;
    }

    #OpenValue {
        display: flex;
        gap: 10px;
        margin-left: 150px;
    }

    #finisherItem {
        border-radius: 10px;
        margin-top: 20px;
        padding: 10px;
        background-color: white;
        display: grid;
        align-items: center;
        text-align: center;
        grid-template-columns: 100px 200px 950px;
    }

    #ItemCounterOrders {
        display: flex;
        gap: 20px;
    }

    #nameItem {
        margin-left: 50px;
    }

    #numerKey {
        margin-left: auto;
    }

    .container {
        background-color: #e4e4e4;
        padding: 20px;
    }

    #FinisherPage {
        background-color: #e4e4e4;
    }

    #counterKey {
        display: flex;
        gap: 20px;
    }

    .SizeProduct {
        display: flex;
    }

    #orderCost {
        justify-content: end;
        text-align: end;
        display: flex;
        text-align: end;
        margin-top: 20px;
        color: red;
    }

    #buttonActionFinishBlock {
        display: flex;
    }

    #FinisherRight {
        margin-left: auto;
    }

    #FinisherLeft {
        margin-right: auto;
    }

    #FinisherAnderes {
        text-align: end;
        margin-top: 20px;
    }

    #schopIcons {
        margin-left: 40px;
        height: 40px;
        background: #e4e4e4;
        border: 3px solid grey;
        border-radius: 30px;
    }

        #schopIcons > span {
            color: red;
        }

    #code {
        width: 100%;
        height: auto;
        font-family: 'Courier New', Courier, monospace;
        font-size: 14px;
        line-height: 1.4;
        background-color: #f8f8f8;
        border: 1px solid #ccc;
        border-radius: 5px;
        color: orange;
        background: #323232;
    }

    #StyleCode {
        width: 100%;
        height: auto;
        font-family: 'Courier New', Courier, monospace;
        font-size: 14px;
        line-height: 1.4;
        background-color: #f8f8f8;
        border: 1px solid #ccc;
        border-radius: 5px;
        color: peachpuff;
        background: #323232;
    }

    .modal {
        display: none; /* По умолчанию модальное окно скрыто */
        position: fixed; /* Фиксированное положение */
        z-index: 1; /* Поверх всех остальных элементов */
        left: 0;
        top: 0;
        width: 100%; /* Полная ширина */
        height: 100%; /* Полная высота */
        overflow: auto; /* Добавление прокрутки, если содержимое слишком большое */
        background-color: rgba(0,0,0,0.4); /* Полупрозрачный фон */
        padding-top: 60px; /* Отступ сверху */
    }

    /* Стили для содержимого модального окна */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 55%;
    }

    /* Стили для кнопки закрытия модального окна */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        margin-left: 950px;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

    #FinihserCostInfo {
        display: flex;
        gap: 500px;
        margin-top: 50px;
    }

    #finisherButton {
        text-align: end;
    }

        #finisherButton > button {
            height: 50px;
        }

    #UserConteinerInform {
        display: grid;
        grid-template-columns: repeat(2,auto);
        gap: 50px;
        margin-top: 100px;
    }

    #UserMenu {
        border-right: 3px solid gray;
        padding-right: 50px;
    }

    #AllProductUser {
        margin-top: 50px;
        background: white;
        padding: 40px;
        border-radius: 10px;
        width: 900px;
    }

    #AllOrderUser {
        width: 900px;
    }
}
