@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Bestätigung des Passwort-Wiederherstellungsprozesses";
}

<h1>@ViewData["Title"]</h1>
<p>
    Bitte überprüfen Sie Ihre E-Mails, um Ihr Passwort zurückzusetzen.
</p>
