@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="shadow-lg  mb-5 bg-body-tertiary rounded" id="registerPage">
    <div class="col-md-4 mx-auto  p-3">
        <section>
            <h2 class="text-center mb-3">Bitte loggen Sie sich ein.</h2>

            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <form id="account" method="post">
                <div class="mb-3">     
                    <label class="form-label">Benutzername oder E-Mail-Adresse *</label>
                    <input asp-for="Input.Email" class="form-control"  />          
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div class="row mb-3">
                    <div class="col d-grid">
                        <button type="submit" class="btn btn-outline-success">Einloggen</button>
                    </div>
                    <div class="col d-grid">
                        <a class="btn btn-outline-danger" href="/" role="button">Abbrechen</a>
                    </div>
                </div>
                <div>
                    <input type="hidden" name="returnUrl" id="returnUrl" />
                    <a class="btn btn-link" id="forgot-password" asp-page="./ForgotPassword">Haben Sie Ihr Passwort vergessen?</a>
                </div>
            </form>
        </section>
    </div>
</div>
<script>
    let returnUrl = document.getElementById("returnUrl");
    function back() {
        returnUrl.value = localStorage.getItem('currentURL');
    }
    back()
</script>