@{
    ViewData["Title"] = "Datenschutzerklärung";

}
<style>
    a{
        color:darkred;
    }
    a:hover{
        color:red;
    }
</style>
<div class="container my-4 bg-white shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <h2 class="text-center">Allgemeine Geschäftsbedingungen</h2>
        <p>Allgemeine Geschäftsbedingungen der Firma OWSD Werbe- und Sicherheitsshop GmbH</p>

        <h3>§1 Geltung gegenüber Unternehmern und Begriffsdefinitionen</h3>
        <p>(1) Die nachfolgenden Allgemeinen Geschäftbedingungen gelten für alle Lieferungen zwischen uns und einem Verbraucher in ihrer zum Zeitpunkt der Bestellung gültigen Fassung.</p>
        <p>Verbraucher ist jede natürliche Person, die ein Rechtsgeschäft zu Zwecken abschließt, die überwiegend weder ihrer gewerblichen noch ihrer selbständigen beruflichen Tätigkeit zugerechnet werden können (§ 13 BGB).</p>

        <h3>§2 Zustandekommen eines Vertrages, Speicherung des Vertragstextes</h3>
        <p>(1) Die folgenden Regelungen über den Vertragsabschluss gelten für Bestellungen über unseren Internetshop <a href="http://www.schlüssel.discount" target="_blank">http://www.schlüssel.discount</a>.</p>

        <p>(2) Im Falle des Vertragsschlusses kommt der Vertrag mit</p>
        <div class="font-weight-bold ml-3">
            OWSD Werbe- und Sicherheitsshop GmbH<br />
            Brunnenstrasse 8<br />
            D-10119 Berlin
        </div>
        <p>zustande.</p>

        <h3>§3 Preise, Versandkosten, Zahlung, Fälligkeit</h3>
        <p>(1) Die angegebenen Preise <em><strong>beinhalten</strong></em> die gesetzliche Umsatzsteuer und sonstige Preisbestandteile. Hinzu kommen etwaige Versandkosten.</p>
        <p>(2) Der Verbraucher hat die Möglichkeit der Zahlung per Vorkasse, Sofortüberweisung, PayPal oder Barzahlung vor Ort.</p>

        <h3>§4 Lieferung, Lieferverzögerungen, Haftung und Rücktrittsrecht</h3>
        <p>(1) Alle angebotenen Artikel sind, sofern nicht anders angegeben, sofort versandfertig. Die Lieferung erfolgt in der Regel innerhalb von 14 Werktagen nach Vertragsschluss.</p>

        <!-- Пример адаптивного списка -->
        <h4>Bestellprozess</h4>
        <ol>
            <li>Auswahl der gewünschten Ware</li>
            <li>Bestätigen durch Anklicken der Buttons „Bestellen“</li>
            <li>Prüfung der Angaben im Warenkorb</li>
            <li>Betätigung des Buttons „zur Kasse“</li>
            <li>Anmeldung im Internetshop nach Registrierung</li>
            <li>Nochmalige Prüfung der Daten</li>
            <li>Verbindliche Absendung der Bestellung</li>
        </ol>

        <h3>§5 Eigentumsvorbehalt</h3>
        <p>Wir behalten uns das Eigentum an der Ware bis zur vollständigen Bezahlung des Kaufpreises vor.</p>

        <h3>§6 Widerrufsrecht und Sonderanfertigung:</h3>
        <p><strong>Widerrufsrecht für Verbraucher:</strong> Sie haben das Recht, diesen Vertrag binnen vierzehn Tagen ohne Angabe von Gründen zu widerrufen.</p>

        <div class="alert alert-danger" role="alert">
            <strong>Achten Sie:</strong> Alle Schlüsselkopien sind von der Rückgabe und dem Umtausch ausgeschlossen.
        </div>

        <h3>§7 Widerrufsformular</h3>
        <h4>Muster-Widerrufsformular</h4>
        <div class="border p-3">
            <p>An:</p>
            <p>OWSD Werbe- und Sicherheitsshop GmbH<br />Brunnenstraße 8, 10119 Berlin</p>
            <p>Hiermit widerrufe(n) ich/wir (*) den von mir/uns (*) abgeschlossenen Vertrag.</p>
            <p>Bestellt am (*), erhalten am (*)</p>
            <p>Name des/der Verbraucher(s): ____________________________________</p>
            <p>Anschrift des/der Verbraucher(s): ____________________________________</p>
            <p>Unterschrift: ______________________ Datum: ______________________</p>
        </div>

        <h3>§10 Kundendienst</h3>
        <p>Unser Kundendienst für Fragen, Reklamationen und Beanstandungen steht Ihnen werktags von 10:00 Uhr bis 18:00 Uhr unter:</p>
        <p>Telefon: +4930 4508 7619<br />E-Mail: info[at]schluesseldiscount.de</p>
    </div>

</div>