@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1>Произошла ошибка</h1>

@if (Model.ShowRequestId)

{
    <p>Идентификатор запроса: <strong>@Model.RequestId</strong></p>
}

<p>Ошибка: @Model.ErrorMessage</p>

<p><a href="/">Вернуться на главную страницу</a></p>
