@{
    ViewData["Title"] = "Datenschutzerklärung";

}
<div id="content">
    
</div>
<script>

    let contentHtml = `@Html.Raw(ViewBag.page)`;

    document.getElementById("content").innerHTML = contentHtml;

</script>
