@{
    ViewData["Title"] = "Datenschutzerklärung";

}
<style>
    a{
        color:darkred;
    }
    a:hover{
        color:red;
    }
</style>
<div class="container my-4 bg-white shadow-lg p-4 mb-5 rounded">
    
    <h2>Schließzylinder / Profilzylinder</h2>
    <p>Ein <strong>Schließzylinder</strong>, auch <strong>Profilzylinder</strong> oder <strong>Türzylinder</strong> genannt, ist ein mittels eines Schlüssels zu betätigender Teil des Zylinderschlosses.</p>

    <table class="table table-striped table-responsive w-100">
        <thead class="thead-light">
            <tr>
                <th scope="col">BEGRIFF</th>
                <th scope="col">ERKLÄRUNG</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Abtastschutz</th>
                <td data-label="ERKLÄRUNG">Eine im Schließzylinder verbaute Schutzmaßnahme, die das Abtasten der Sperrstifte unmöglich macht.</td>
            </tr>
            <tr>
                <th scope="row">Anbohrschutz</th>
                <td data-label="ERKLÄRUNG">Siehe Punkt “Bohrschutz”.</td>
            </tr>
            <tr>
                <th scope="row">Außenzylinder</th>
                <td data-label="ERKLÄRUNG">Bauart des Schließzylinders mit einem Durchmesser von ca 30 mm. Werden auch Rundzylinder genannt und ähnlich wie Profilzylinder eingesetzt.</td>
            </tr>
            <tr>
                <th scope="row">Blindzylinder</th>
                <td data-label="ERKLÄRUNG">Dienen als Abdeckung für die Profilzylinder-Auslochung, wenn kein gewöhnlicher Profilzylinder benötigt wird. Zwecks Brandschutz wird der Einsatz der Blindzylinder vorgeschrieben. Sind je nach Ausführung und Modell in der Länge verstellbar.</td>
            </tr>
            <tr>
                <th scope="row">Bohrmulden</th>
                <td data-label="ERKLÄRUNG">Bohrmuldenzylinder (Wendeschlüsseltechnologie) sind eine komplexe Bauart von Schließzylindern, die durch Abtastung durch verschiedene Kopfformen der Sperrstifte bedient werden. Bohrmuldenschlüssel verfügen über mehrere Lochreihen (auch seitlich).</td>
            </tr>
            <tr>
                <th scope="row">Bohrschutz</th>
                <td data-label="ERKLÄRUNG">Vor allem minderwertige Schließzylinder können leicht von außen aufgebohrt werden. Abhilfe schaffen Schutzeigenschaften zum aktiven Bohrschutz, wie z.B. gehärtete Sperrstifte aus hochwertigem Stahl wie Titanium (Titaniumstifte).</td>
            </tr>
            <tr>
                <th scope="row">Code-Karte</th>
                <td data-label="ERKLÄRUNG">Die Code-Karte dient genauso wie die Sicherungskarte dem Fertigen von Nachschlüssel und verfügt über einen vom Hersteller vergebenen Code. Anders als bei einer Sicherungskarte, sind die mit einer Code-Karte ausgestattenen Schlüssel nicht besonders kopiergeschützt.</td>
            </tr>
            <tr>
                <th scope="row">Elektronische Zylinder</th>
                <td data-label="ERKLÄRUNG">Eine Weiterentwicklung der Schließzylinder stellen sogenannte Elektronische Zylinder dar. Diese verfügen meist über einen elektronischen Schlüssel oder werden biometrisch bedient und gelten daher als besonders sicher.</td>
            </tr>
            <tr>
                <th scope="row">Freilauffunktion</th>
                <td data-label="ERKLÄRUNG">Bei dieser Zusatzfunktion nach DIN 18252 lässt sich die Schließnase des Zylinders drehen, auch wenn sich kein Schlüssel im Zylinder befindet. Die Freilauffunktion kommt bei Mehrfachverriegelungen und Einsteckschlössern mit Panikfunktion zum Einsatz.</td>
            </tr>
            <tr>
                <th scope="row">Gleichschließend</th>
                <td data-label="ERKLÄRUNG">Alle Schließzylinder eines Schließsystems lassen sich mit nur einem Schlüssel untereinander bedienen. Ein Schlüssel für alles. Zusammen bestellte Zylinder eines Schließsystems mit dieser Option schließen untereinander. Siehe auch Punkt “Schließung”.</td>
            </tr>
            <tr>
                <th scope="row">Halbzylinder</th>
                <td data-label="ERKLÄRUNG">Ein Profilzylinder, der sich nur von einer Seite mit einem Schlüssel bedienen lässt. Die andere Seite wird dabei zur Platzeinsparung ausgelassen. Halbzylinder werden u. a. bei schmalen Türen, Briefkästen, Vorhängeschlössern und anderen Systemen eingesetzt.</td>
            </tr>
            <tr>
                <th scope="row">Knaufseite</th>
                <td data-label="ERKLÄRUNG">Die mit einem Knauf ausgestattete Seite des Knaufzylinders. Wird im Bestellvorgang oft mit einem K abgekürzt.</td>
            </tr>
            <tr>
                <th scope="row">Knaufzylinder</th>
                <td data-label="ERKLÄRUNG">Schließzylinder, die von einer Seite mit einem Knauf, statt mit einem Schlüssel bedient werden, werden als Knaufzylinder bezeichnet. Dient zum Komfort durch erleichterte Bedienung.</td>
            </tr>
            <tr>
                <th scope="row">Kompaktbauweise</th>
                <td data-label="ERKLÄRUNG">Die gegenüber einer Modulbauweise günstigere und am häufigsten verwendete Bauart eines Schließzylinders. Besteht aus nur einer Bauform, die sich nicht auseinander bauen und in der Länge verstellen lässt.</td>
            </tr>
            <tr>
                <th scope="row">Kopierschutz</th>
                <td data-label="ERKLÄRUNG">Schlüssel, die sich nur erschwert bis gar nicht nachmachen lassen. Zeichnen sich oft durch komplexe mechanische Komponenten aus, die zum Großteil patentiert sind. Siehe auch Punkt “Sicherungskarte”.</td>
            </tr>
            <tr>
                <th scope="row">Manipulationsschutz</th>
                <td data-label="ERKLÄRUNG">Allgemeine Bezeichnung von Schutzeigenschaften eines Profilzylinders wie z.B. Bohrschutz und Pickingschutz.</td>
            </tr>
            <tr>
                <th scope="row">Mehrschlüssel</th>
                <td data-label="ERKLÄRUNG">Siehe Punkt „Zusatzschlüssel“.</td>
            </tr>
            <tr>
                <th scope="row">Modulbauweise</th>
                <td data-label="ERKLÄRUNG">Durch die modulare Bauweise besteht der Schließzylinder aus mehreren Einzelteilen und kann somit dank Verlängerungsmodulen ergänzt und verlängert werden. Praktische Bauart um den Zylinder beim Auszug in die neue Wohnung mitnehmen zu können.</td>
            </tr>
            <tr>
                <th scope="row">Nachschlüssel</th>
                <td data-label="ERKLÄRUNG">Als Nachschlüssel wird eine nach dem Kauf erworbene Kopie des Schlüssels bezeichnet.</td>
            </tr>
            <tr>
                <th scope="row">Nachschlüsselsicherheit</th>
                <td data-label="ERKLÄRUNG">Der vom Hersteller gewährleistete Schutz vor unerlaubten Schlüsselkopien. Sicherheitszylinder sollten über hohe Nachschlüsselsicherheit z.B. durch mitgelieferte Sicherungskarte und Patentschutz des Schlüsselprofils verfügen.</td>
            </tr>
            <tr>
                <th scope="row">Neusilberschlüssel</th>
                <td data-label="ERKLÄRUNG">Eine speziell für hochwertige Schlüssel entwickelte Stahllegierung (62 % Kupfer, 24 % Zink, 13 % Nickel und 1 % Blei) mit besonderen Eigenschaften wie Langlebigkeit und hohem Widerstand.</td>
            </tr>
            <tr>
                <th scope="row">Not- und Gefahrenfunktion</th>
                <td data-label="ERKLÄRUNG">Trotz von einer Seite des Schließzylinders steckendem und verdrehten Schlüssels, kann auf der gegenüberliegenden Seite mit einem zweiten Schlüssel aufgeschlossen werden. So kann man das eigene Aussperren verhindern, wenn man den Schlüssel stecken lässt.</td>
            </tr>
            <tr>
                <th scope="row">Picking</th>
                <td data-label="ERKLÄRUNG">Als Picking wird das zerstörungsfreie Öffnen von Schließzylindern bezeichnet, um sich dadurch Zugang in die fremde Wohnung zu verschaffen. Hierzu wird Spezialwerkzeug verwendet, welches die Sperrstifte nacheinander herunterdrückt.</td>
            </tr>
            <tr>
                <th scope="row">Pickingschutz</th>
                <td data-label="ERKLÄRUNG">Hochwertige Schließzylinder sollten über einen integrierten Pickingschutz verfügen. Dies sorgt dafür, dass Spezialwerkzeug blockiert wird und die Sperrstifte sich nicht herunterdrücken lassen. Besonders günstige Zylinder lassen sich vergleichbar einfach picken.</td>
            </tr>
            <tr>
                <th scope="row">Rundzylinder</th>
                <td data-label="ERKLÄRUNG">Siehe Punkt “Außenzylinder”.</td>
            </tr>
            <tr>
                <th scope="row">Schließanlage</th>
                <td data-label="ERKLÄRUNG">Mehrere miteinander kombinierte Schlösser und Zylinder, denen verschiedenen Zutrittsberechtigungen zugeordnet sind. Mit einem ausgefüllten Schließplan lässt sich eine Schließanlage planen und realisieren.</td>
            </tr>
            <tr>
                <th scope="row">Schließanlagenfähig</th>
                <td data-label="ERKLÄRUNG">Schließzylinder und andere Schlösser (Schließsysteme), die sich in eine Schließanlage integrieren lassen können.</td>
            </tr>
            <tr>
                <th scope="row">Schließnase</th>
                <td data-label="ERKLÄRUNG">Als Schließnase, Schließnocken oder auch Schließbart wird ein mechanisches Teil des Schließzylinders bezeichnet, der sich beim Schließvorgang dreht und somit das Schlossmechanismus auslöst.</td>
            </tr>
            <tr>
                <th scope="row">Schließsystem</th>
                <td data-label="ERKLÄRUNG">Zueinander gehörende Profilzylinder, Rundzylinder, Halbzylinder, Vorhängeschlösser u.v.m. die untereinander gleichschließend oder als Schließanlage funktionieren. Unterschiedliche Schließsysteme können meist nicht miteinander kombiniert werden.</td>
            </tr>
            <tr>
                <th scope="row">Schließung</th>
                <td data-label="ERKLÄRUNG">Entweder einzeln mit unterschiedlichen Schlüssel oder alle zusammen mit gleichem Schlüssel schließende Zylinder. Siehe auch Punkte “Gleichschließend” und “Verschiedenschließend”.</td>
            </tr>
            <tr>
                <th scope="row">Schließzylinder</th>
                <td data-label="ERKLÄRUNG">Allgemeine Bezeichnung für Profilzylinder, Rundzylinder, Ovalzylinder, Halbzylinder u.a Zylinder. Oft werden Profilzylinder allgemein als Schließzylinder bezeichnet.</td>
            </tr>
            <tr>
                <th scope="row">Schlüsselprofil</th>
                <td data-label="ERKLÄRUNG">Unterschiedliche Ausführungen der Profile eines Schlüssels wie z.B. Flachprofil. Je komplizierter ein Schlüsselprofil, umso schwieriger ist es, Nachschlüssel ohne Vorlage der Sicherungskarte zu erstellen.</td>
            </tr>
            <tr>
                <th scope="row">Sicherheitszylinder</th>
                <td data-label="ERKLÄRUNG">Als Sicherheitszylinder werden Profilzylinder mit besonderen Merkmalen wie z.B Pickingschutz und Bohrschutz bezeichnet. Alle Sicherheitszylinder werden in der Regel mit einer Sicherungskarte ausgeliefert.</td>
            </tr>
            <tr>
                <th scope="row">Sperrstifte</th>
                <td data-label="ERKLÄRUNG">Sperrstifte haben die Aufgabe, das Rotieren des Zylinderkerns nur dann zu ermöglichen, wenn der richtige Schlüssel eingeführt wurde. Je nach Sicherheitsklasse und Aufbau können Sperrstifte unterschiedlich eingebaut sein.</td>
            </tr>
            <tr>
                <th scope="row">Sicherungskarte</th>
                <td data-label="ERKLÄRUNG">Sicherheitszylinder werden zum Schutz vor unerlaubten Nachschlüssel mit einer Sicherungskarte ausgestattet. Nur nach Vorlage dieser beim Hersteller registrierten Sicherungskarte lassen sich weitere Nachschlüssel nachbestellen.</td>
            </tr>
            <tr>
                <th scope="row">Standard Profilzylinder</th>
                <td data-label="ERKLÄRUNG">Profilzylinder ohne Sicherungskarte und ohne besondere Sicherheitsmerkmale werden als Standard Profilzylinder bezeichnet. Hierzu zählen u.a. auch die recht günstigen Bauzylinder.</td>
            </tr>
            <tr>
                <th scope="row">Staubkappe</th>
                <td data-label="ERKLÄRUNG">Mithilfe der Staubkappe lässt sich ein Schließzylinder vor eindringendem Staub und Schmutz schützen. Diese wird optional vorne auf dem Zylinder montiert und bei Bedarf vor den Zylinderkern geschoben.</td>
            </tr>
            <tr>
                <th scope="row">Staubschutz</th>
                <td data-label="ERKLÄRUNG">Als Staubschutz wird eine optional erhältliche Schutzvorrichtung für Schließzylinder, wie z.B. eine Staubkappe bezeichnet.</td>
            </tr>
            <tr>
                <th scope="row">Türzylinder</th>
                <td data-label="ERKLÄRUNG">Eine andere Bezeichnung für Profilzylinder oder Schließzylinder.</td>
            </tr>
            <tr>
                <th scope="row">Verschiedenschließend</th>
                <td data-label="ERKLÄRUNG">Eine Standardausführung der Schließung eines Schließzylinders. Hierbei öffnet der mitgelieferte Schlüssel nur diesen einen Zylinder. Weitere Zylinder in verschiedenschließender Ausführung erhalten ebenfalls eigene Schlüssel, die nur diese Zylinder schließen.</td>
            </tr>
            <tr>
                <th scope="row">Witterungsschutz</th>
                <td data-label="ERKLÄRUNG">Optional erhältliche Schutzvorrichtung für Schließzylinder, die neben Staubschutz auch Schutz vor Regen und nassem Schmutz bietet. Meist wird es als ein erweiterter Staubschutz bezeichnet.</td>
            </tr>
            <tr>
                <th scope="row">Ziehschutz</th>
                <td data-label="ERKLÄRUNG">Verbauter Schutz vor gewaltsamen Aufbrechen des Schließzylinders durch das Ziehen mit Spezialwerkzeug. Einen absoluten Ziehschutz kann nur eine separat erhältliche Kernziehschutzrosette bieten.</td>
            </tr>
            <tr>
                <th scope="row">Zusatzschlüssel</th>
                <td data-label="ERKLÄRUNG">Bei der Bestellung optional dazu bestellte Schlüssel werden als Zusatzschlüssel oder Mehrschlüssel bezeichnet. In der Standardausführung eines Schließzylinders werden meist 3 Schlüssel mitgeliefert. Weitere müssen als Zusatzschlüssel bestellt werden.</td>
            </tr>
            <tr>
                <th scope="row">Zylinderkern</th>
                <td data-label="ERKLÄRUNG">Das Herzstück eines Schließzylinders, welcher bewegt wird, sobald ein passender Schlüssel die verbauten Sperrstifte herunterdrückt um den Zylinderkern zu entriegeln. Wird bei Sicherheitszylindern komplex geschützt.</td>
            </tr>
            <tr>
                <th scope="row">Zylinderlänge</th>
                <td data-label="ERKLÄRUNG">Ein Schließzylinder besteht aus insgesamt zwei Längen. Zylinderlänge A (Außenlänge) und Zylinderlänge B (Innenlänge), welche von der Mitte der Stulpschraube aus gemessen werden. Bei dem Einbau ist diese Zylinderlänge sehr relevant.</td>
            </tr>
        </tbody>
    </table>

</div>