@{
    ViewData["Title"] = "Lieferung";

}
<style>
    a{
        color:darkred;
    }
    a:hover{
        color:red;
    }
</style>
<div class="container my-4 bg-white shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <h2>Lieferzeiten</h2>
    Bestellungen und Lieferungen sind grundsätzlich nur innerhalb Deutschland, Dänemark, Österreich, Frankreich und Schweiz möglich. Sollten Sie eine Lieferung in andere Länder wünschen, so versuchen wir gerne, Ihnen weiterzuhelfen. Grundsätzlich erfolgt die Anlieferung durch den DPD, DHL, UPS, Hermes und GLS Service. Die Abgabe von Artikeln erfolgt nur in haushaltsüblichen Mengen.
    <h3>Berechnung des Liefertermins</h3>
    Der Liefertermin wird ermittelt bei Zahlung per Vorkasse am Tag nach Erteilung des Zahlungsauftrags an das überweisende Kreditinstitut bzw. bei anderen Zahlungsarten am Tag nach Vertragsabschluss zu laufen und endet mit dem Ablauf des letzten Tages der Frist. Fällt der letzte Tag des Liefertermins auf einen Samstag, Sonntag oder einen am Lieferort staatlich anerkannten Feiertag, so gilt anstatt eines solchen Tages der nächste Werktag als Liefertermin.

    <hr />

    <h3>Standardversand 3 – 9 Werktage</h3>
    Ihre Sendung wird über DPD, DHL, UPS, Hermes und GLS innerhalb von 3 – 9 Werktagen an den Empfänger gesendet.

    <strong>Bei geringem Lagerbestand kann der Versand bis zu 14 Tage in Anspruch nehmen.</strong>
    <h3>Optionaler Versand 4 – 15 Werktage</h3>
    Diese Versandart ist abhängig von den gewählten Produktoptionen und hat somit einen längeren möglichen Zeitraum. Das kann z.B bei einem Produkt in verschiedenen Modifikationen der Fall sein. So ist eine Modifikation in 4 Tagen lieferbar und die andere in 15 Tagen.

    <hr />

    <h2>Versandkosten Deutschland</h2>
    Die Versandkosten werden je nach Gesamtgewicht der Produkte im Warenkorb berechnet. Folgende Preise gelten für den Versand innerhalb <strong>Deutschlands</strong>:
    <ul>
        <li>Gewicht bis 2 Kg: 5,70 €</li>
        <li>Gewicht 2 – 5 Kg: 6,90 €</li>
        <li>Gewicht 5 – 10 Kg: 11,70 €</li>
        <li>Gewicht 10 – 20 Kg: 14,90 €</li>
        <li>Gewicht 21 – 31,5 Kg: 19,90 €</li>
        <li>Gewicht ab 31,5 Kg: nach Anfrage</li>
    </ul>
    <h2>Kostenloser Versand für diverse Produkte (innerhalb Deutschlands)</h2>
    Die Versandkosten werden nach Gewicht berechnet. Der Versand erfolgt immer kostenlos ab einem Einkaufswert von 500 Euro. Diverse Produkte wie Schlüssel-Kopien sind ab einem Bestellwert von 10,00 € versandkostenfrei. Sie erhalten eine Information auf der Produktseite, sofern es sich um einen Artikel mit einem kostenlosen Versand handelt.
    <h2>Kostenlose Abholung vor Ort in Berlin-Mitte</h2>
    Sie können Ihre Bestellung kostenlos vor Ort abholen. Bitte wählen Sie dazu die Option "Abholung vor Ort (in Berlin)" aus.

    Es gelten unsere Öffnungszeiten:

    <strong>Montag – Freitag:</strong> 10:00 – 18:30 Uhr
    <strong>Samstag, Sonntag:</strong> geschlossen

    <hr />

    <h2>Versandkosten in andere EU-Länder</h2>
    Die Versandkosten werden je nach Gesamtgewicht der Produkte im Warenkorb berechnet. Folgende Preise gelten für folgende Länder: <strong>Österreich, Frankreich, Dänemark, Belgien, Niederlande, Tschechische Republik, Kroatien, Italien</strong>:
    <ul>
        <li>Gewicht bis 2 Kg: 15,00 €</li>
        <li>Gewicht 2 – 5 Kg: 17,00 €</li>
        <li>Gewicht 5 – 10 Kg: 22,00 €</li>
        <li>Gewicht 10 – 20 Kg: 35,00 €</li>
        <li>Gewicht 21 – 31,5 Kg: 49,00 €</li>
        <li>Gewicht ab 31,5 Kg: nach Anfrage</li>
    </ul>

    <hr />

    <h2>Versandkosten Schweiz, Großbritannien</h2>
    Die Versandkosten werden je nach Gesamtgewicht der Produkte im Warenkorb berechnet:
    <ul>
        <li>Gewicht bis 2 Kg: 17,00 €</li>
        <li>Gewicht 2 – 5 Kg: 29,00 €</li>
        <li>Gewicht 5 – 10 Kg: 38,00 €</li>
        <li>Gewicht 10 – 20 Kg: 52,00 €</li>
        <li>Gewicht 21 – 31,5 Kg: 59,00 €</li>
        <li>Gewicht ab 31,5 Kg: nach Anfrage</li>
    </ul>

    <hr />

    <h2>Versandkosten Russland, Kasachstan, Weißrussland, Ukraine</h2>
    Die Versandkosten werden je nach Gesamtgewicht der Produkte im Warenkorb berechnet.
    <ul>
        <li>Gewicht bis 5 Kg: 35,00 €</li>
        <li>Gewicht 5 – 10 Kg: 39,50 €</li>
        <li>Gewicht 10 – 20 Kg: 59,00 €</li>
        <li>Gewicht ab 20 Kg: nach Anfrage</li>
    </ul>

    <hr />

    <h2>Versandkosten USA</h2>
    Die Versandkosten werden je nach Gesamtgewicht der Produkte im Warenkorb berechnet.
    <ul>
        <li>Gewicht bis 2 Kg: 30,00 €</li>
        <li>Gewicht 2 – 5 Kg: 40,00 €</li>
        <li>Gewicht 5 – 10 Kg: 50,00 €</li>
        <li>Gewicht 10 – 20 Kg: 60,00 €</li>
        <li>Gewicht 20 – 31,5 Kg: 70,00 €</li>
        <li>Gewicht ab 31,5 Kg: nach Anfrage</li>
    </ul>

</div>