@{
    ViewData["Title"] = "Schipeed";
}

<div>

    <input type="text" id="trackingNumber" placeholder="Enter tracking number">
    <button onclick="trackShipment()">Track Shipment</button>
    <pre id="result"></pre>

</div>

<script>


   async  function trackShipment() 
   {
        const trackingNumber = document.getElementById('trackingNumber').value;
        const apiKey = 'De3J4WAmQXKxAhoAQx04bDUGeTmVgpK4'; // Замените на ваш API ключ

        const options = { method: 'GET', headers: { 'DHL-API-Key': apiKey } };

        fetch(`https://api-test.dhl.com/track/shipments?trackingNumber=${trackingNumber}`, options)
            .then(response => response.json())
            .then(response => console.log(response))
            .catch(err => console.error(err))
    }
    
</script>