
@{
    ViewData["Title"] = "Finisher";
}

<h1 class="text-danger">Order 1</h1>
<h2 class="text-danger">Thanks for Order</h2>
<a class="btn btn-success" href="@Url.Action("IndexKonfigurator", "Konfigurator")">First Page</a>