@{
    ViewData["Title"] = "Konfigurator";
}

<div>
    <h1>Konfigurator</h1>
    <div id="konfigMenu">
        <button type="button" class="btn btn-danger">1. Schließplan erstellen</button>
        <button type="button" class="btn btn-secondary">2. System auswählen</button>
        <button type="button" class="btn btn-secondary">3. Parameter einstellen</button>
    </div>

    <div id="InformBar">
        <div id="ItemBar">
            <h4>Vorlage</h4>
            <h4>Gleichschließung</h4>
        </div>
        <div id="ItemBar">
            <h4>Vorlage</h4>
            <h4>Einfamilienhaus</h4>
        </div>
        <div id="ItemBar">
            <h4>Vorlage</h4>
            <h4>Mehrfamilienhaus</h4>
        </div>
        <div id="ItemBar">
            <h4>Vorlage</h4>
            <h4>Unternehmen</h4>
        </div>
        <div id="ItemBar">
            <h4>Vorlage</h4>
            <h4>Firmenkomplex</h4>
        </div>

    </div>
    <div id="key-konfig">
        <h6 style="margin-top: 10px;"> key</h6>
    </div>
    <div id="konfigurator">

        <div id="menuPannel">
            <div id="konfiguratorItem_menu_1">
                <h6>Pos</h6>
            </div>
            <div id="konfiguratorItem_menu_2">
                <h6>Door designation</h6>
            </div>
            <div id="konfiguratorItem_menu_3">
                <h6>Cylinder type</h6>
            </div>
            <div id="konfiguratorItem_menu_4">

                <h6>Cylinder length mm</h6>
                
                <div >
                    <h6>Outside</h6>
                </div>
                
                <div>
                    <h6>OInside</h6>
                </div>
               
            </div>
            <div id="konfiguratorItem_menu_5">
                <h6>Pc(s).</h6>
            </div>
            <div>

            </div>
        </div>
    </div>
</div>