@{
    ViewData["Title"] = "SendRehnung";
}

<div id="RehnungPdf" style="padding: 5px;background: white;max-width: 794px !important;">

    <button onclick="generatePDF()">Скачать PDF</button>
</div>
<a href="@Url.Action("HistorOrders", "Konfigurator", new{userKey =  @ViewBag.Key})" role="button" class="btn btn-info">Weiter</a>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script>

    let Info = @Html.Raw(ViewBag.Info);

    let meinAdress = `OWSD Werbe-und Sicherheitsshop GmbH
    Brunnenstraße 8
    10119 Berlin`;

    let Rechnungsadresse = `${Info.SendVorname + " " + Info.SendNachname} 
        ${Info.SendStrasse} ${Info.SemdAdressZusatz},
        ${Info.SendZip} ${Info.SendStadt} , ${Info.SendLand} `;

    let Lieferadresse = "";
    if (Info.Rehnung == "on") 
    {
        Lieferadresse = `${Info.SendVorname + " " + Info.SendNachname} 
            ${Info.SendStrasse} ${Info.SemdAdressZusatz},
            ${Info.SendZip} ${Info.SendStadt} , ${Info.SendLand} `;
    }
    else {
        Lieferadresse = `${Info.RechnungVorname + " " + Info.RechnungNachname} 
            ${Info.RechnungStrasse} ${Info.RechnungAdressZusatz},
            ${Info.RechnungZip} ${Info.RechnungSendStadt} , ${Info.RechnungLand} `;
    }

    function generatePDF() {
        const docDefinition = {
            header: function (currentPage, pageCount) {
                return {
                    text: `Header - Page ${currentPage} of ${pageCount}`,
                    alignment: 'center',
                    margin: [0, 10]
                };
            },
            footer: function (currentPage, pageCount) {
                return {
                    text: `Footer - Page ${currentPage} of ${pageCount}`,
                    alignment: 'center',
                    margin: [0, 10]
                };
            },
            content: [
                { text: 'Main content of the document', margin: [0, 20] },
                { text: 'More content that will be automatically split into multiple pages if necessary...', margin: [0, 20] },
                { text: 'More text to demonstrate automatic page breaking...', margin: [0, 20] },
            ],
            pageSize: 'A4',
            pageMargins: [40, 60, 40, 60] // Margins: [left, top, right, bottom]
        };

        pdfMake.createPdf(docDefinition).open();
    }

  
</script>