@{
    ViewData["Title"] = "Ошибка";
}

<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="text-center">
        <div class="alert alert-warning" role="alert">
            <h1 class="display-4">404 - Seite nicht gefunden</h1>
            <p>Es tut uns leid, die Seite, nach der Sie suchen, existiert nicht.</p>
            <a href="/" class="btn btn-primary">Zur Startseite</a>
        </div>
    </div>
</div>