@{
    ViewData["Title"] = "Страница не найдена";
}

<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="text-center">
        <div class="alert alert-danger" role="alert">
            <h1 class="display-4">Ein Fehler ist aufgetreten</h1>
            <p>Es tut uns leid, etwas ist schief gelaufen. Bitte versuchen Sie es später noch einmal.</p>
            <a href="/" class="btn btn-primary">Zur Startseite</a>
        </div>
    </div>
</div>