html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}



.modal-content {
    padding: 10px;
}

#routBAR {
    display: grid;
    grid-template-columns: repeat(6,auto);
    text-align: center;
    justify-content: center;
}

#Bar {
    gap: 10px;
    display: flex;
}

a {
    text-decoration: none;
    color: aliceblue;
}

    a:hover {
        text-decoration: none;
        color: aliceblue;
    }

#crud {
    border: none;
    background: none;
    margin-left: 50px;
}

#createColum {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 30px;
}
#createColumDopppelzylinder {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(6,auto);
    gap: 50px;
}

#input {
    margin-top: 50px;
    margin-bottom: 50px;
}

#Table {
    display: grid;
    grid-template-columns: repeat(13,auto);
}

#TableOptions {
    display: grid;
    grid-template-columns: repeat(2,auto);
}

#TableVorhangschloss {
    display: grid;
    grid-template-columns: repeat(7,auto);
    max-width: 1200px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#konfigMenu {
    display: grid;
    grid-template-columns: repeat(3,auto);
    text-align: center;
    margin-top: 50px;
    /*max-width:1400px;*/
}

#InformBar {
    display: flex;
    margin-top: 50px;
    font-size: 16px;
    gap: 50px;
}

#ItemBar {
    background: lightgoldenrodyellow;
    min-width: auto;
    padding: 15px;
    border-radius: 20px;
}

#konfigurator {
    display:flex;
    clear: both;
    background: #F4F4F4;
    border: 1px solid #D8D8D8;
    padding: 15px;
    overflow: auto;
    min-width: 1350px;
    min-height: 730px;
}
#KeyName {
    transform: rotate(90deg);
    width: 150px;
    margin-left: -58px
}
#nK {
    padding-bottom: 40px;
    display: block;
}
#menuPannel {
    display: flex;
    gap: 2px;
}

#key-konfig {
    margin-top: 50px;
    width: 614px;
    min-width: 55px;
    border: 1px solid #fff;
    background: #4fa8cf;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    margin-left: 737px;
}

#konfiguratorItem_menu_1 {
    background: #4fa8cf;
}

#konfiguratorItem_menu_2 {
    background: #4fa8cf;
}

#konfiguratorItem_menu_3 {
    background: #4fa8cf;
}

#konfiguratorItem_menu_4 {
    background: #4fa8cf;
}

#konfiguratorItem_menu_5 {
    background: #4fa8cf;
    max-width: 692px;
}

.line-name-header {
    display: grid;
    grid-template-columns: 41px 251px 192px 140px 70px;
    margin-bottom: 10px;
    text-align: center;
    height: 250px;
}

    .line-name-header div {
        display: grid;
        grid-template-columns: 20px 191px 176px 47px 54px 70px;
        margin-bottom: 10px;
        border: 3px solid white;
        text-align: center;
    }
    .turInput{
        max-width:50px;
    }
#cheked {
    width: 25px;
    height: 25px;
    margin-left: 5px;
    padding-bottom: 10px;
}
.line-name-body {
    display: grid;
    grid-template-columns: 20px 230px 176px 47px 54px 45px;
    margin-bottom: 10px;
    text-align: center;
    gap: 20px;
}
.length {
    height: auto;
   
}
#konfiguratorItemKey{
    display:flex;
}
#key {
    display: grid;
    grid-template-columns: 20px;
    gap: 20px;
    text-align: center;
}
#counter {
    padding: 0px 10px 0px 20px
}
#chekboxPanel {
    margin-top: 55px;
    display: grid;
    gap: 25px
}
#product_desciptions {
    margin-top: 100px;
   

}
#productMenu {
    gap: 150px;
    display: flex;
}
#cardOptions {
    padding: 10px;
    background: #efefef;
    margin-top: 50px;
    display: block;
}