html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}



.modal-content {
    padding: 10px;
}

#routBAR {
    display: grid;
    grid-template-columns: repeat(6,auto);
    text-align: center;
    justify-content: center;
}

#Bar {
    gap: 10px;
    display: flex;
}

a {
    text-decoration: none;
    color: aliceblue;
}

    a:hover {
        text-decoration: none;
        color: aliceblue;
    }

#crud {
    border: none;
    background: none;
    margin-left: 50px;
}

#createColum {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 30px;
}
#createColumDopppelzylinder {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 50px;
}

#input {
    margin-top: 50px;
    margin-bottom: 50px;
}

#Table {
    display: grid;
    grid-template-columns: repeat(9,auto);
}

#TableOptions {
    display: grid;
    grid-template-columns: repeat(2,auto);
}

#TableVorhangschloss {
    display: grid;
    grid-template-columns: repeat(7,auto);
    max-width: 1200px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}


#InfoValue {
    display: grid;
}
#InformBar {
    margin-top: 50px;
    font-size: 16px;
    gap: 50px;
}

#ItemBar {
    background: lightgoldenrodyellow;
    min-width: auto;
    padding: 15px;
    border-radius: 20px;
}

#konfigurator {
    display:flex;
    clear: both;
    background: #F4F4F4;
    border: 1px solid #D8D8D8;
    padding: 15px;
    overflow: auto;
    min-width: 1350px;
    min-height: 730px;
}
#KeyName {
    transform: rotate(90deg);
    width: 150px;
    margin-left: -58px
}
#nK {
    padding-bottom: 40px;
    display: block;
}
#menuPannel {
    display: flex;
    gap: 2px;
}

#key-konfig {
    margin-top: 50px;
    width: 614px;
    min-width: 55px;
    border: 1px solid #fff;
    background: #4fa8cf;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    margin-left: 737px;
}

#konfiguratorItem_menu_1 {
    background: #4fa8cf;
}

#konfiguratorItem_menu_2 {
    background: #4fa8cf;
}

#konfiguratorItem_menu_3 {
    background: #4fa8cf;
}

#konfiguratorItem_menu_4 {
    background: #4fa8cf;
}

#konfiguratorItem_menu_5 {
    background: #4fa8cf;
    max-width: 692px;
}

.line-name-header {
    display: grid;
    grid-template-columns: 41px 251px 192px 140px 70px;
    margin-bottom: 10px;
    text-align: center;
    height: 250px;
}

    .line-name-header div {
        display: grid;
        grid-template-columns: 20px 191px 176px 47px 54px 70px;
        margin-bottom: 10px;
        border: 3px solid white;
        text-align: center;
    }
    .turInput{
        max-width:50px;
    }
#cheked {
    width: 25px;
    height: 25px;
    margin-left: 5px;
    padding-bottom: 10px;
}
.line-name-body {
    display: grid;
    grid-template-columns: 20px 230px 176px 47px 54px 45px;
    margin-bottom: 10px;
    text-align: center;
    gap: 20px;
}
.length {
    height: auto;
   
}
#konfiguratorItemKey{
    display:flex;
}
#key {
    display: grid;
    grid-template-columns: 20px;
    gap: 20px;
    text-align: center;
}

#chekboxPanel {
    margin-top: 55px;
    display: grid;
    gap: 25px
}
#product_desciptions {
    margin-top: 100px;
/*    max-width: 600px;*/
}
#productMenu {
    gap: 150px;
    display: flex;
}
#cardOptions {
    padding: 10px;
    background: #efefef;
    margin-top: 50px;
    display: block;
}

#Aussen_Innen_ProfilDopel {
    display: flex;
    justify-content: center;
    margin-bottom:50px;
}
#AussenProfilDopel {
    display: block;
    width: 136px;
}
#InnenProfilDopel {
    display: block;
    width: 400px;
}
#valueNGF {
    display: block;
    width: 136px;
}
#costNGF {
    display: block;
    width: 400px;
}
#valueBohrschutz {
    display: block;
    width: 136px;
}
#costBohrschutz {
    display: block;
    width: 400px;
}
.input-counter{
    display:none;
}
#ExelItem {
    grid-template-columns: repeat(2,auto);
    display: grid;
    margin-top: 50px;
    max-width: 1250px;
    background: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
#ExelMenu {
    background-color: #EDEDED;
    padding: 5px;
}
#productImage {
    padding: 20px;
}
#ProductNameUndCost {
    margin-top: 20px;
    display: flex;
}
#cost{
   color:red;
}
#product_desciptions{
    margin-top:20px;
}
#closeMenu {
    margin: 20px;
    padding: 20px 150px 20px 150px;
}
#chekProduct {
    padding: 20px 150px 20px 150px;
    margin-top: 50px;
    margin-bottom: 20px;
}
#productMenuInfo {
    margin-left: 20px;
   
    margin-right: 20px;
}
#productChek{
    text-align:end;
}
#sclusselInfo {
    margin-left: 300px;
    padding: 5px;
    background: red;
    color: white;
    align-items: center;
    display: flex;
}
#removeButton {
    height: 30px;
    width: 30px;
    border-radius: 55px;
    background: white;
    font-size: 16px;
    font-weight: bold;
    color: red;
    border: none;
    margin-left: 10px;
}
#removeButtonTur {
    height: 30px;
    width: 30px;
    border-radius: 55px;
    background: white;
    font-size: 16px;
    font-weight: bold;
    color: red;
    border: none;
    margin-left: 10px;
}
#addButtonTur {
    height: 30px;
    width: 30px;
    border-radius: 55px;
    background: white;
    font-size: 16px;
    font-weight: bold;
    color: red;
    border: none;
    margin-left: 10px;
}
#addButton {
    height: 30px;
    width: 30px;
    border-radius: 55px;
    background: white;
    font-size: 16px;
    font-weight: bold;
    color: red;
    border: none;
    margin-left: 10px;
}
#schlussel {
    margin-top: 5px;
}
#schlussel2 {
    margin-left: 520px;
    margin-top: 5px;
}
#TexInputKey {
    margin-top: 70px;
    margin-left: -100px;
    height: 140px;
}
#inputS {
    margin-top: 30px;
    padding: 4px ;
    transform: rotate(270deg);
}
#inputCount {
    text-align: center;
    margin-top: 25px;
    max-width: 30px;
}
.TexCount {
    max-width: 42px;
    text-align: center;
    display: grid;
    grid-template-columns: 30px;
    background-color: #EDEDED;
    padding: 5px;
}
#itemKeyBlock {
    margin-left: 300px;
    display: flex;
    width: 996px;
    max-width: 996px;
    overflow-x: scroll;
}
#blockSclussel {
   
}
#sclusselInfo2 {
    padding: 5px;
    background: red;
    color: white;
    align-items: center;
    display: flex;
}
#schlussel3 {
    margin-left: 800px;
    margin-top: 5px;
}
#ItemTur {
    gap: 10px;
    display: flex;
}
.TexCountTur {
    max-width: 290px;
    text-align: center;
    gap: 10px ;
    display: grid;
    grid-template-columns: 30px;
    background-color: #EDEDED;
    padding: 5px;
}
#inputTur{
    padding:5px;
}
#counterTur {
    margin-top: 10px
}
#infoButten {
    width: 20px;
    padding: 5px;
}
#TypeSelectTurItem {
    margin-top: 5px;
    height: 30px;
    width: 235px
}
#SelectTurItem {
    width: 280px
}
.custom-checkbox {
    display: block;

}

    .custom-checkbox input {
        display: none;
    }

.checkmark {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #ccc;
    cursor: pointer;
}

.custom-checkbox input:checked + .checkmark {
    background-color: #2196F3;
}

.checkbox-label {
    margin-left: 10px;
    cursor: pointer;
}
#blockInfo {
    width: 300px
}
#turInfo {
    display: flex;
}
#checkboxContainer {
    display: grid;
    gap: 200px;
    margin-top: 15px;
}
#horizontal {
    display: flex;
    gap: 20px;
    margin-left: 10px;
}
#checkboxContainer > input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

  
summary {
    margin-left: -10px;
    margin-top: -25px;
    padding: 0px;
}