@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<style>
    #header_menu_personal{
        border-bottom:3px solid #f00;
        background: white;
    }

    .nav-pills .nav-link.active{
        background-color: #f00;
    }
    #personal_menu_content{
        background:white;
    }

    .nav-link {
        color:black;
    }
    
</style>

<div>

    <div class="row shadow-lg p-3 mb-5 bg-body-tertiary rounded" id="personal_menu_content">
        <div class="col-md-3" style="border-right:3px solid #f00">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
