@inject SignInManager<User> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profil</a></li>

    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalOrderNavClass(ViewContext)" id="profile" asp-page="./PagePersonalOrders">Persönliche Bestellungen</a></li>
    
    <li class="nav-item"><a class="nav-link @ManageNavPages.HistoriOrderNavClass(ViewContext)" id="profile" asp-page="./HistoriOrders">Historische Bestellungen</a></li>

</ul>