@page
@model IndexModel
@{
    ViewData["Title"] = "Profil";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>Willkommen, @ViewData["user"]!</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        
        <div id="alertBox" class="alert alert-success d-none alert-dismissible fade" role="alert">
            <span id="alertMessage">Die Daten wurden erfolgreich gespeichert!</span>
            <button type="button" class="btn-close" aria-label="Close" onclick="closeAlert()"></button>
        </div>

        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3 mt-3">
                <input asp-for="Input.Firma" class="form-control" />
                <label asp-for="Input.Firma" class="form-label"></label>
                <span asp-validation-for="Input.Firma" class="text-danger"></span>
            </div>
           
            <div style="display:flex;gap:100px" class="mt-3 mb-3">
                <div class="form-check">
                    <input asp-for="Input.Gender" class="form-check-input" type="radio" id="flexRadioDefault1" value="Herr" checked>
                    <label class="form-check-label" for="flexRadioDefault1">
                        Herr
                    </label>
                </div>
                <div class="form-check">
                    <input asp-for="Input.Gender" class="form-check-input" type="radio" id="flexRadioDefault2" value="Frau">
                    <label class="form-check-label" for="flexRadioDefault2">
                        Frau
                    </label>
                </div>
            </div>
            

            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" placeholder="Vorname" />
                <label asp-for="Input.FirstName" class="form-label"></label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" placeholder="Nachname" />
                <label asp-for="Input.LastName" class="form-label"></label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" placeholder="E-Mail Adresse" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Telefon" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.UStNumber" id="Vat" class="form-control" placeholder="Telefon" />
                <label asp-for="Input.UStNumber" class="form-label"></label>
                <span asp-validation-for="Input.UStNumber" class="text-danger"></span>
            </div>
          

            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg danger">Aktualisieren</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>

        function showAlert(message) {
            const alertBox = document.getElementById('alertBox');
            const alertMessage = document.getElementById('alertMessage');

            alertMessage.innerText = message;
            alertBox.classList.remove('d-none');
            alertBox.classList.add('show');
        }

        const form = document.getElementById('profile-form');
        const submitButton = document.getElementById('update-profile-button');

        submitButton.addEventListener('click', function (e) {
            
            const vatNumber = document.getElementById("Vat");
           
            console.log(vatNumber.value);

            if(vatNumber.value=="")
            {

            }
          else{
                      e.preventDefault();

                     const apiKey = '0928aaf5e30b2777f31177d6a2ea6f1c';
                  fetch(`https://apilayer.net/api/validate?access_key=${apiKey}&vat_number=${vatNumber.value}`)
                      .then(response => {
                          if (!response.ok) {
                              throw new Error('Network response was not ok ' + response.statusText);
                          }
                          return response.json();
                      })
                      .then(data => {
                          const alertBox = document.getElementById('alertBox');

                          if (data.valid === true) {
                              // Успешная валидация
                              alertBox.classList.remove('alert-danger');
                              alertBox.classList.add('alert-success');
                              showAlert(`Ergebnis der Überprüfung:
                                          USt-IdNr.: ${data.vat_number}
                                          Status: Gültig`);

                              // Задержка перед отправкой формы
                              setTimeout(() => {
                                  form.submit();
                              }, 2000);

                          } else {
                              // Неверный номер НДС
                              alertBox.classList.remove('alert-success');
                              alertBox.classList.add('alert-danger');
                              showAlert(`Ergebnis der Überprüfung:
                                          Status: Ungültig`);
                          }
                      })
                      .catch(error => {
                          console.error('Ошибка:', error);
                      });
          }
             
        });

           
    </script>
}
