<div class="modal-content">
    <span class="close">&times;</span>
    <div>
        <input class="btn btn-danger" type="button" id="registration" value="Anmeldung" />
        <input class="btn btn-dark" type="button" id="login" value="Eintrag" />
   </div>
    <form asp-action="UserSave" asp-controller="Konfigurator">
    <div id="registrationForm">

            <label>Name</label>
            <input class="form-control" type="text" name="Name" />
            
            <label>VorName</label>
            <input class="form-control" type="text" name="VorName" />
            
            <label>Login</label>
            <input class="form-control" type="text" name="Login" />
            
            <label>Password</label>
            <input class="form-control" type="password" name="Password" />
            
            <label>Telefonnumer</label>
            <input class="form-control" type="tel" name="Telefonnumer" />
            
            <label>Email</label>
            <input class="form-control" type="email" name="Email" />

            <input class ="form-control" type="hidden" name="status" value="User" />
            <input class="btn btn-success" type="submit" value="Einchecken" />
   </div>
    </form>

    <form asp-action="LoginPerson" asp-controller="Konfigurator">
   <div id="LoginForm" style="display:none">
        <label>Login</label>
            <input class="form-control" type="text" name="Login" />
            <label>Password</label>
            <input class="form-control" type="password" name="Password" />
            <input class="btn btn-success" type="submit"  value="Eintrag" />
            <input type="hidden" id="urlLink" name="url"/>
   </div>
   </form>
</div>
@section scripts {

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<script>

    let currentUrl = window.location.href;
    let url = document.getElementById("urlLink");

    var startIndex = currentUrl.indexOf("/localhost:7187/") + "/localhost:7187/".length;

    if (startIndex !== -1) 
    {
        var resultString = currentUrl.substring(startIndex);
        url.value = resultString;

    } 
    else 
    {
        url.value = currentUrl;
    }
  


    let login = document.getElementById("login");
    let registrations = document.getElementById("registration");
    let registrationsForm = document.getElementById("registrationForm");
    let LoginForm = document.getElementById("LoginForm");

    login.addEventListener("click", () => {
        registrationsForm.style.display = "none";
        LoginForm.style.display = "block";
    });
    registrations.addEventListener("click", () => {
        registrationsForm.style.display = "block";
        LoginForm.style.display = "none";
    });
</script>